@import play.mvc.Http.Request
@import models.destinations.Destination
@(destinations: Seq[Destination])(implicit request: Request)

@main {
    <h1>All Locations</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>District</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
        @for(d <- destinations) {
            <tr>
                <td>@d.getName()</td>
                <td>@d.getDestinationType()</td>
                <td>@d.getDistrict()</td>
                <td>@d.getLatitude()</td>
                <td>@d.getLongitude()</td>
                <td>@d.getCountry()</td>
            </tr>
        }
        </tbody>
    </table>
}

