@()

  @main {
    <div>
      <ul>
        <li>Create a traveller <a href="@routes.TravellerController.createTraveller()">/travellers/create</a></li>
        <li>Log in as a traveller <a href="@routes.TravellerController.loginTraveller()">/travellers/login</a></li>
        <li>View all destinations <a href="@routes.DestinationsController.listAllDestinations()">/destinations/listAll</a></li>
        <li>Create a destination <a href="@routes.DestinationsController.createDestination()">/destinations/create</a></li>
      </ul>
    </div>
  }
